<ion-navbar *navbar dark>
    <ion-title>Home Dashboard</ion-title>
</ion-navbar>

<ion-content padding class="page1">
    <ion-row>
        <ion-col width-33>
            <button full large [ngClass]="{'button-dark': !lampOn, 'button-light': lampOn}"
            style="margin: 24px auto 0 auto; width: 85%; padding: 64px" (click)="toggleWemoSwitch('lamp')">
                <ion-icon name='md-bulb' is-active="false"></ion-icon>
                Bedroom Lamp
            </button>
        </ion-col>

        <ion-col width-33>
            <button full large [ngClass]="{'button-dark': !ledsOn, 'button-light': ledsOn}"
            style="margin: 24px auto 0 auto; width: 85%; padding: 64px" (click)="toggleWemoSwitch('LEDLights')">
                <ion-icon name='md-bulb' is-active="false"></ion-icon>
                LED Lights
            </button>
        </ion-col>

        <ion-col width-33>
            <button full large [ngClass]="{'button-dark': !speakersOn, 'button-light': speakersOn}" 
            style="margin: 24px auto 0 auto; width: 85%; padding: 64px" (click)="toggleWemoSwitch('speakers')">
                <ion-icon *ngIf="!speakersOn" name="md-volume-mute"></ion-icon>
                <ion-icon *ngIf="speakersOn" name="md-volume-up"></ion-icon>
                Speakers
            </button>
        </ion-col>

    </ion-row>
</ion-content>